<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>我们需要访问您的日历以创建和同步日程安排。</string>
	<key>NSRemindersFullAccessUsageDescription</key>
	<string>我们需要访问您的提醒事项以创建和同步待办任务。</string>
	<key>NSCalendarsUsageDescription</key>
	<string>我们需要访问您的日历以创建和同步日程安排。</string>
	<key>NSRemindersUsageDescription</key>
	<string>我们需要访问您的提醒事项以创建和同步待办任务。</string>
</dict>
</plist>
